<div class="container">

  <div class="panelContent position-absolute top-50 start-50 translate-middle">

    <div class="title px-4 mt-4 fs-4">
      <strong>Mortgage Calculator</strong>
    </div>

    <div class="px-5 mt-4 panel">

      <div class="row">

          <div class="mt-3 input-group flex-nowrap">
            <span class="input-group-text" id="basic-addon3">Purchase price</span>
            <input type="text" class="form-control" placeholder="00.0" aria-describedby="basic-addon3 basic-addon4">
          </div>

          <div class="mt-3 input-group flex-nowrap">
            <span class="input-group-text" id="basic-addon3"> Interest rate <strong class="fs-6 px-1">%</strong></span>
            <input type="text" class="form-control" placeholder="0.0%" aria-describedby="basic-addon3 basic-addon4">
          </div>

          <div class="mt-3 input-group flex-nowrap">
            <span class="input-group-text" id="basic-addon3">Down payment </span>
            <input type="text" class="form-control" placeholder="00.0" aria-describedby="basic-addon3 basic-addon4">
          </div>

          <div class="mt-3 input-group flex-nowrap">
            <span class="input-group-text" id="basic-addon3">Repayment time</span>
            <input type="text" class="form-control" placeholder="00.0" aria-describedby="basic-addon3 basic-addon4">
          </div>

          <div class=" mt-3 input-group flex-nowrap">
            <span class="input-group-text" id="basic-addon3">Loan amount <strong class="fs-6 px-1">%</strong></span>
            <span class="input-group-text" id="basic-addon3"><strong>00.0</strong></span>
          </div>

          <div class=" mt-3 input-group flex-nowrap">
            <span class="input-group-text" id="basic-addon3">Estimated pr. amount</span>
            <span class="input-group-text" id="basic-addon3"><strong>00.0</strong></span>
          </div>
          
      </div>

      <div class="row">
        <div class="mt-4">
          <button type="button" class="btn btn-warning text-light">Get a mortagage quote</button>
        </div>
      </div>

    </div>

  </div>

</div>
