.panelContent{
  border:6px solid #F5B041;
  height: 22rem;
  width: 42rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
}

.input-group{
  width: 18rem;
}

.form-control:focus{
  box-shadow: none;
  border-color: #F5B041;
  box-shadow: 6px 0px 10px 0px rgba(0,0,0,0.1);
}

.title{
  color:#17202A
}

.input-group-text{
  color:#273746
}

.btn-warning{
  width: 12rem;
  height: 3.2rem;
  background-color: #F5B041;
  border-radius: 0.8rem;
}

.btn-warning:hover{
  border-color: #FDFEFE;
}